@charset "UTF-8";
@import "../vendor/slick.css";
@import "../vendor/slick-theme.css";

main {
  text-align: center;
  background-color: #fff;
  margin-top: 30px;

  .hero {
    h1 {
      font-size: 48px;
      line-height: 1.3;
      margin-bottom: 20px;

      .highlight {
        color: #1abc9c;
        font-weight: bold;
      }
    }

    p {
      font-size: 18px;
      max-width: 700px;
      margin: 20px auto;
      line-height: 1.8;
      color: #555;
    }

    .cta {
      margin-top: 15px;
      padding: 12px 30px;
    }
  }

  .innovation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #042029;
    color: #fff;
    padding: 80px 20px;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      max-width: 1200px;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
    }

    &__text {
      order: 1;
      max-width: 600px;
      margin-bottom: 30px;
      padding-right: 0;

      h2 {
        font-size: 36px;
        color: #1abc9c;
        margin-bottom: 20px;
        text-align: center;
      }

      p {
        margin: 20px 0;
        font-size: 18px;
        line-height: 1.6;
      }

      .resource-link a {
        color: #1abc9c;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: #148f77;
        }

        span {
          font-size: 20px;
        }
      }
    }

    .innovation-slider {
      order: 2;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .card {
      background-color: #fff;
      color: #333;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
      opacity: 0.5;
      transform: scale(0.9);

      h3 {
        font-size: 20px;
        margin-bottom: 10px;
        color: #333;
        text-align: center;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
      }
    }

    .slick-center {
      opacity: 1;
      transform: scale(1);
    }

    .slick-slide {
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  }

  @media (max-width: 768px) {
    .innovation {
      padding: 60px 10px;

      &__container {
        align-items: center;
      }

      &__text {
        padding-right: 0;
        margin-bottom: 30px;
        text-align: center;
      }

      .innovation-slider {
        width: 100%;

        .card {
          margin-bottom: 15px;
        }
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px 300px;
    background-color: #042029;
    color: #fff;
  }

  .transaction-warning {
    width: 100%;

    h2 {
      font-size: 32px;
      text-align: left;
      margin-left: 20px;
      color: #1abc9c;
    }
  }

  .warning-card-container {
    display: flex;
    margin-top: 30px;
  }

  .warning-list {
    width: 250px;
    padding-right: 20px;
  }

  .warning-card {
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    min-width: 230px;

    h3 {
      color: rgba(255, 255, 255, 0.5);
      transition: color 0.3s;
    }

    &:hover {
      background-color: transparent;
      h3 {
        color: rgba(255, 255, 255, 1);
      }
    }

    &.selected {
      background-color: #042029;
      h3 {
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  .warning-detail {
    flex-grow: 1;
    padding: 20px;
    min-width: 200px;
    background-color: #061621;
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h3,
    p {
      margin: 0;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 20px;
    }

    h3 {
      text-align: left;
      font-size: 24px;
      margin: 0;
      color: #fff;
    }

    p {
      font-size: 16px;
      line-height: 1.6;
      color: #b8c4c2;
    }
  }
}

// React slick
//   .slick-list {
//     overflow: hidden;
//     padding: 10px 0;
//   }

//   .slick-track {
//     display: flex;
//     align-items: stretch;
//   }

//   .slick-slide {
//     display: flex !important; // 슬라이더 내부 요소들이 flexbox로 정렬되도록 강제
//     justify-content: center;
//     align-items: center;
//   }

// .card {
//   flex: 1 1 280px;
//   margin: 15px;
//   min-width: 280px;
//   background: #fff;
//   color: #333;
//   padding: 20px;
//   border-radius: 10px;
//   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
//   text-align: center;

//   h3 {
//     font-size: 24px;
//     margin-bottom: 10px;
//     font-weight: bold;
//   }

//   p {
//     font-size: 16px;
//     color: #555;
//     line-height: 1.5;
//   }
// }

//   .note {
//     font-size: 14px;
//     margin-top: 10px;
//     color: #ccc;
//     text-align: center;
//   }
