.book-page {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 24px;
  position: relative;
  padding: 16px;
}

.filter-sidebar-container {
  position: relative;
  grid-column: 1;
}

.book-list-container {
  grid-column: 2;
  overflow-y: auto;
  flex: 1;
}